<% if user_signed_in? %>
  <nav class="navbar fixed-bottom navbar-light navbar-bottom ">
    <%= link_to ('<i class="fas fa-home fa-2x"></i>').html_safe, root_path %>
    <%= link_to ('<i class="fas fa-camera fa-2x"></i>').html_safe, scan_path %>
    <%= link_to ('<i class="fas fa-list fa-2x"></i>').html_safe, cosmetics_path %>
    <%= link_to ('<i class="fas fa-user fa-2x"></i>').html_safe, pages_user_profile_path %>
  </nav>
<% end %>
