<div class="banner">
  <div class="container">
    <h1>CareAround</h1>
    <p>Find your favorite <br><strong>skincare doppelgänger</strong> <br>in your new country</p>
    <%= link_to "Find your match", scan_path, class: "button align-center" %>
  </div>
</div>
