<div class="banner">
  <div class="container">
    <div class="col-12 col-md-4">
      <h1>CareAround</h1>
      <p>Find your favorite <br><strong>skincare doppelgänger</strong> <br>in your new country</p>
      <% if !user_signed_in? %>
        <%= link_to "Find your match", new_user_session_path, class: "button align-center" %>
      <% else %>
        <%= link_to "Find your match", scan_path, class: "button align-center" %>
      <% end %>
    </div>
  </div>
</div>
