<div class="step step1">
  <div class="container1">
    <h1>1. Scan your cosmetic</h1>
    <p>Take a picture or search in our database.<br>If we don’t have it, you can still add it.</p>
  </div>
</div>

<div class="step step2">
  <div class="container2">
    <h1>2. Add tags</h1>
    <p>We've added tags already.<br>Feel free to add more <br>and refine your search!</p>
  </div>
</div>

<div class="step step3">
  <div class="container3">
    <h1>3. Find similar products in Japan</h1>
    <p>We show you the products you look for.<br>Check them and save them into your wishlist.</p>
  </div>
</div>
