<div class="row">
  <div class="col-xs-12 col-sm-6">
    <h1 class="text-center">CareAround</h1>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <% @cosmetics.each do |cosmetic| %>
            <%= render 'cosmetics/cosmetic', cosmetic: cosmetic %>
          <% end %>
        </div>
      </div>
  </div>
</div>
