<%= render 'banner' %>
<div class="col-12">
  <div class="global-padding">
    <% @jp_cosmetics.each do |cosmetic| %>
      <%= render 'cosmetics/mini_cosme_card', cosmetic: cosmetic %>
    <% end %>
  </div>
</div>

<%# option + shift + F for auto-style %>
