<div class="row">
  <div class="col-xs-12 col-sm-6">
    <h1 class="text-center m-2">CareAround</h1>
     <%= link_to "Find your match", scan_path, class: "button align-center" %>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <% @cosmetics.each do |cosmetic| %>
            <%= render 'cosmetics/cosmetic', cosmetic: cosmetic %>
          <% end %>
        </div>
      </div>
  </div>
</div>
