.cosme-card {
  margin: 10px;
  background-color: #FDFCE5;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 328px;
}

.cosme-card-header img {
  width: 100%;
  object-fit: cover;
}
.cosme-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}


.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  margin-bottom: 2px;
  text-transform: uppercase;
  cursor: pointer;
  list-style-type: none;
  color: #545d7a;
}
.tag-green {
  background-color: #E9EDC9;
}
.tag-brown {
  background-color: #D4A373;
}
.tag-pink {
  background-color: #cd5b9f;
}

.cosme-card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}

.cosme-card-body h4 {
  font-style: italic;
}

.cosme-card-body small {
  margin-bottom: 8px;
}

.price-info h5 {
  margin: 0;
}
.price-info small {
  color: #545d7a;
}
