.cosme-card {
  position: relative;
  margin: 10px;
  margin-left: 6%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 90%;
}

.cosme-card-image img{
  width: 100%;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}


.cosme-card-header {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
}

.cosme-card-header-info {
  display: flex;
}

.cosme-card-header-info-rating {
  width: 50%;
  padding-left: 7%;
}

.cosme-card-header-info-rating-numbers {
  display: flex;
}

.cosme-card-header-info-rating-numbers p {
  font-size: x-small;
  margin-left: 2px;
  margin-bottom: 12px;
}

.cosme-card-header-info-price {
  width: 50%;
  font-size: x-small;
}

.cosme-card-header-info-price span {
  font-size: large;
  font-style: bold;
}

.cosme-card-line {
  width: 100%;
  text-align: center;
}

.cosme-card-header-tags {
  justify-content: flex-start;
}

.cosme-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  padding-top: 0px;
  min-height: 250px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  margin-bottom: 2px;
  text-transform: uppercase;
  cursor: pointer;
  list-style-type: none;
  color: #545d7a;
}
.tag-green {
  background-color: #ebf2dd;
}
.tag-brown {
  background-color: #cccccc;
}
.tag-pink {
  background-color: #cd5b9f;
}

.cosme-card-body p {
  font-size: 16px;
  // margin: 0 0 40px;
  text-align: justify;
  text-justify: inter-character;
  margin-bottom: 8px;
}

.cosme-card-body-brand {
  font-size: large;
  font-weight: 600;
}

.cosme-card-body small {
  margin-bottom: 8px;
}

.cosme-card-body-button-match {
  width: 100%;
}
