.confirm-page{
  margin-bottom: 20%;
}

.confirm-page h4{
  font-size: 1.2rem;
  margin-top: 5%;
}

.confirm-page-picture{
  border: 1px solid #b3b3b3;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.confirm-page-countries {
  display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 2px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
