.red {
color: red !important;
margin-left: 0px ;
}

.favorite-icon {
  position: absolute;
  right: 20px;
  top: 20px;
}

.favorite-icon a {
  color: #cccccc !important;
}

.fa-heart {
  font-size: large;
}
