.navbar-bottom {
  justify-content: space-between;
  padding-left:40px;
  padding-right:40px;
  background-color: #64755a;
}

.navbar-bottom .fas {
  color: white;
}

.navbar-bottom .fas:hover {
  color: #e9edc9;
}

.navbar-bottom .fas.active {
 color: #545d7a;
}

head:active {
 color: #545d7a;
}
