.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-collapse img {
  flex-grow: 0;
  align-content: flex-end;
}

.navbar-lewagon .navbar-brand img {
 height: 68px;
}

.navbar-title {
  align-items: center;
  justify-content: space-between;
  background: white;
  img {
    height: 68px;
  }
  h3 {
    margin-top: 6%;
    color: #424648;
  }
}
