.navbar-lewagon {
  justify-content: space-between;
  // background: white;
  border-bottom: 1px solid #b3b3b3;
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-collapse img {
  flex-grow: 0;
  align-content: flex-end;
}

.navbar-lewagon .navbar-brand img {
 height: 68px;
}

.navbar-title{
  margin: auto;
  // font-size: 30px;
  // color: #545d7a;;
  // opacity: 1;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  flex-grow: 0;

}
