.navbar-bottom {
  justify-content: space-between;
  padding-left:40px;
  padding-right:40px;
  // background-color: #64755a;
  background-color: #9da6ab;

}

.navbar-bottom .fas {
  color: white;
}

.navbar-bottom .fas:hover {
  color: #F6DFEB;
}

.navbar-bottom .fas.active {
 color: #F6DFEB;
}

head:active {
 color: #545d7a;
}
