.review-card {
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  margin-top: .3rem;
  width: 18rem;
  height: 100%;
  padding-top: 1rem;
}

.review-card-body {
  flex: 1 1 auto;
  min-height: 1px;
  font-size:  .75rem;
  text-align: justify;
  text-justify: inter-character;
  margin-bottom: 8px;
}

.h5-shop-url {
  font-size: 1rem;
  overflow-wrap: break-word;
  margin-top: 0.5rem;
}

.p-review-card-content {
  font-size: .75rem;
}
