
.tag-form label {
  margin-right: 2px;
  padding-right: 2px;
}

.tag-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 10%;
}
