
  <div data-controller="expandable">
    <div id="review" class="row m-1" data-expandable-target="reviews">
      <% @cosmetic.ingredients.each do |ingredient| %>
        <li class="tag tag-green"><%= ingredient.name_en %></li>
      <% end %>
      <% if @cosmetic.ingredients.size > 10 %>
        <button class="button w-100" data-action="click->expandable#expand">See all ingredients!</button>
      <% end %>
    </div>
  </div>
<%# <% if @cosmetic.tag_list.size > 0 %>
  <%# <div class="cosme-card-header-tags">
    <div class="row m-1"> %>
      <%# <% @cosmetic.tag_list.each do |tag| %>
        <%# <li class="tag tag-green"><%= tag</li> %>
      <%# <% end %>
      <%# <div class="cosme-card-line"><hr /></div>
    </div>
  </div> %>
<%# <% end %>
