
  <div class="row m-1">
    <p>Ingredients:</p><br>
    <div data-controller="expandable">
    <div id="review" data-expandable-target="reviews">
      <% @cosmetic.ingredients.each do |ingredient| %>
        <li class="tag tag-green"><%= ingredient.name_en %></li>
      <% end %>
  </div>
  <% if @cosmetic.ingredients.size > 10 %>
    <button class="button w-100" data-action="click->expandable#expand">See all ingredients!</button>
  <% end %>

<%# <% if @cosmetic.tag_list.size > 0 %>
  <%# <div class="cosme-card-header-tags">
    <div class="row m-1"> %>
      <%# <% @cosmetic.tag_list.each do |tag| %>
        <%# <li class="tag tag-green"><%= tag</li> %>
      <%# <% end %>
      <%# <div class="cosme-card-line"><hr /></div>
    </div>
  </div> %>
<%# <% end %>
