<div class="like-icon mx-2 <%= 'red' if current_user&.favorited?(cosmetic) %>" data-id="<%= cosmetic.id %>"> <%# Added & in order to in order to not break if not logged. The & means stop if doesnt exist(nil) %>
  <i class="fas fa-heart"></i>
</div>
