

     <% @cosmetic.reviews.each do |review| %>
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <div class="d-flex border">
      <h5 class="card-title mr-2"><%= current_user.name %> </h5>
        <p class="card-subtitle mb-1 text-muted"><span class="text-muted"><% review.rating.times do %></span> <span class="fa fa-star star-active ml-2"></span><% end %></p>
      </div>
      <p class="card-text"><%= review.content %></p>
    </div>
  </div>
    <% end %>
