
<div data-controller="expandable">
    <div id="review" data-expandable-target="reviews">
          <% reviews.each do |review| %>
          <%= render "review_card", review: review %>
        <% end %>
    </div>
    <button class="button w-100" data-action="click->expandable#expand">See All Reviews!</button>
</div>
