<div class="row">
  <div class="col-12">
    <h1 class="text-center">Results</h1>
      <% @cosmetics.each do |cosmetic| %>
        <div class="cosme-card">
          <div class="cosme-card-header">
            <%= image_tag SearchJp.image(cosmetic["link"]), class: "img" %>
          </div>
          <div class="cosme-card-body">
            <p>Brand : <%= cosmetic["description"] %></p>
            <p>Description : <%= SearchJp.description(cosmetic["link"]) %></p>
          </div>
        </div>
      <% end %>
    </ul>
  </div>
</div>
