<h1>Results</h1>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="container">
    <h3>All cosmetics</h3>
      <% @cosmetics.each do |cosmetic| %>
        <%= p cosmetic %>
      <% end %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="container">
      <h3>Liked cosmetics</h3>


    </div>
  </div>
</div>
