<div class="container" data-controller="processing" data-processing-target="processingPage">
  <div data-processing-target="spinner" class="processing-modal d-none">
    <h1 class="justify-text-center">Scanning</h1>
  </div>
  <div class="row justify-content-center text-center">
    <div class="col-12">
      <div class="search-card">
        <div class="search-card-body">
          <h3 class="my-2" >Take or Upload <br> a picture of your product</h3>
          <p>Make sure that the text is visible</p>
          <div class="form-inputs mt-4">
            <%= simple_form_for Cosmetic.new , url: cosmetics_path, method: "post", class: "row justify-content-center" do |f| %>
              <%= f.input :cosmetic_image, label: false, as: :file %>
              <%= f.submit "Register your product", class: "button cosme-card-body-button-match", data: {action: "click->processing#loadingCosme"} %>
            <% end %>
          </div>
          <div class="cosme-card-line"><hr /></div>
          <h3 class="mb-4" >Or search directly<br> for your product</h3>
          <div class="form-inline d-flex justify-content-center col-12"><%= render "shared/search_form" %></div>
        </div>
    </div>
  </div>
</div>
